/* login.component.css */

.container {
  margin-top: 50px;
}

.card {
  box-shadow: 5px 5px 15px black;

}

.card-header {
  background-color: #308530;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #6da869;
  border: none;
}

.btn-primary:hover {
  background-color: #308530;
}

/* Responsive styles */
@media (max-width: 576px) {
  .col-md-6 {
    max-width: 100%;
  }
}
.no-border-input {
  border: 2px solid black; /* Set border color to black */
  border-radius: 5px; /* Optionally, remove border radius */
  box-shadow: 2px 1.5px 5px; /* Optionally, remove box shadow */
}
