<div class="row">
  <div class="col-sm-1">
    <button (click)="onNavigateBack()" class="btn btn-dark float-end"><i class="fa fa-plus"></i> Back
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h5>
      Student List
    </h5>
  </div>
  <div class="col-sm-6">
    <button (click)="onNewAdd()" class="btn btn-dark float-end"><i class="fa fa-plus"></i> Add New
    </button>
  </div>
  <hr class="my-2"/>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-centered table-striped table-hover table-bordered table-nowrap mb-0 mt-3"
           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
      <thead class="bg-light">
      <tr>
        <th>
          <label class="sb_label">SN. No</label>
        </th>
        <th>
          <label class="sb_label">Student Name</label>
        </th>
        <th>
          <label class="sb_label">Roll No</label>
        </th>
        <th>
          <label class="sb_label">Faculty</label>
        </th>
        <th>
          <label class="sb_label">Address</label>
        </th>
        <th>
          <label class="sb_label">Email</label>
        </th>
        <th>
          <label class="sb_label">Phone Number</label>
        </th>
        <th>
          <label class="sb_label">Actions</label>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of studentList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ student?.name ? student.name : "Not Available" }}</td>
        <td>{{ student?.rollNo ? student?.rollNo : "Not Available" }}</td>
        <td>{{ student?.faculty ? student?.faculty : "Not Available" }}</td>
        <td>{{ student?.address ? student?.address : "Not Available" }}</td>
        <td>{{ student?.email ? student?.email : "Not Available" }}</td>
        <td>{{ student?.phoneNumber ? student?.phoneNumber : "Not Available" }}</td>
        <td class="d-flex">
          <button class=" btn btn-sm btn-primary">View</button>
          <button class="ms-3 btn btn-sm btn-info">Edit</button>
          <button class="ms-3 btn btn-sm btn-danger">Delete</button>
        </td>
        <!--        <td>{{(student?.createAt |date) }}</td>-->
        <!--        <td>{{student?.modifiedAt |date}}</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
